{:engine #profile {:default {:type :regex
                             :cache-ttl 60}
                   :staging {:type :opencl
                             :cache-ttl 60}
                   :production {:type :opencl
                                :cache-ttl 60}}}
